*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container{

    display: flex;
    background: grey;
    flex-wrap: wrap;
}

.box{
    height: 100px;
flex: 1;

}

.one{
    background: red;
   
}

.two{

background: blue;

}
.three{
background: green;



}

/*flex basis to inaczej min-width, ale jak przegladarka zmniejszy sie do rozmiarow ponizej, to one sie kurcza dalej - bez efektu przesuwaka */
/*flex: 1(grow), 1(shrink), basis (0px); domyslnie */